body{
    background-color: rgb(97, 179, 255);
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

nav a{
    margin-right: 8px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    transition: ease;
    transition-duration: 1.0s;
    background-color: rgb(35, 112, 255);
    padding: 0px 4px;
    border-radius: 4px;
}

a:active{
    transition: ease;
    transition-duration: 1.0s;
    background-color: rgb(35, 112, 255);
    padding: 0px 4px;
    border-radius: 4px;
}

.especificacoes{
    font-size: 2rem;
    font-weight: bold;
}

.so{
    font-size: 2rem;
    font-weight: bold;
}

.ur_os{
    font-size: 2rem;
    font-weight: bold;
}

.linguagem_robo_ur3e{
    font-size: 2rem;
    font-weight: bold;
}

.imagem_robo_ur3e img{
    border-radius: 16px;
    border: black 3px solid;
}

.foto_especificacoes_robo_ur3e img{
    border-radius: 10px;
    border: black 3px solid;
}

.sg_universal_robots{
    font-size: 2rem;
    font-weight: bold;
}

.conclusao_robo_ur3e{
    font-size: 2rem;
    font-weight: bold;
}

.sede_global_un_r iframe{
    border-radius: 14px;
    border: black 3px solid;
}

.exemplo_de_funcionamento_robo_ur3e{
    font-size: 2rem;
    font-weight: bold;
}

.video_do_robo_ur3e_funcionando iframe{
    border-radius: 14px;
    border: rgb(27, 27, 27) 3px solid;
}

.robos_industriais{
    font-size: 2rem;
    font-weight: bold;
}

.robos_colaborativos{
    font-size: 2rem;
    font-weight: bold;
}

.caracteristicas{
    font-size: 1.5rem;
    font-weight: bold;
}

.diferencas_dos_robos_industriais{
    font-size: 1.5rem;
    font-weight: bold;
}

.aplicacoes_gerais_por_tipo_de_tarefa{
    font-size: 2rem;
    font-weight: bold;
}

.exemplos_de_aplicacao_em_diferentes_setores{
    font-size: 2rem;
    font-weight: bold;
}

.conclusao_robos_industriais_e_colaborativos{
    font-size: 2rem;
    font-weight: bold;
}

.conclusao_robos_na_industria{
    font-size: 2rem;
    font-weight: bold;
}

.linguagens_mais_comuns_na_robotica{
    font-size: 2rem;
    font-weight: bold;
}

.logo_python img{
    border-radius: 16px;
    border: black 3px solid;
}

.logo_c_c img{
    border-radius: 16px;
    border: black 3px solid;
}

.logo_java img{
    border-radius: 16px;
    border: black 3px solid;
}

.logo_matlab img{
    border-radius: 16px;
    border: black 3px solid;
}